.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  -webkit-overflow-scrolling: touch; /* iOS smooth scrolling */
  overflow-x: auto; /* Ensure horizontal scrolling */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

.hide-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* Ensure no track is visible */
}

.hide-scrollbar::-webkit-scrollbar-thumb {
  display: none; /* Ensure no thumb is visible */
}